.cursor {
    cursor: pointer;
}

.usuario {
    width: 70%;
}

a {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

input,
select {
    cursor: pointer;
}

.error {
    border: rgb(0, 0, 0) solid 1px;
}

#forgot-pass {
    font-weight: bold;
    text-align: end;
    font-size: 12px;
}

@media (max-width:575px) {
    .animacion1 {
        width: 80% !important;
        margin: 0 auto !important;
        display: block !important;
    }
    .animacion2 {
        width: 100% !important;
    }
}

.container {
    margin-top: 50px;
}

.form-container {
    background-color: #a4a4a467;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

a {
    color: #000000;
}

.btn-login {
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.btn-login:hover {
    background-color: #28b463;
    border-color: #28b463;
}

.form-control {
    font-size: 11px;
    padding: 10px;
}
